.container {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px); /* эффект размытия */
  -webkit-backdrop-filter: blur(10px); /* для поддержки Safari */
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

.modal {
  display: flex;
  width: 40%;
  height: 50%;
  min-height: 500px;
  min-width: 300px;
  padding: 30px 15px;
  box-sizing: border-box;
  background-color: #d9d9d9;
  border-radius: 8px;
  position: relative;

  &_closeButton {
    position: absolute;
    left: 25px;
    bottom: 25px;
    height: fit-content;
    padding: 12px 17px;
    border-radius: 4px;
    background-color: #4c4949;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    cursor: pointer;
    transition: 300ms ease-out all;

    &:hover {
      transform: scale(1.05);
    }
  }
}
