.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  margin-top: 100px;
}

.row {
  width: 100%;
  max-width: 1400px;
}

.text {
  font-size: 70px;
  font-weight: 700;
  color: white;
  text-align: center;
}

.arrow {
  width: 100%;
  display: flex;
  justify-content: center;
}
