.root {
  width: 100%;
  height: fit-content;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-margin-block-start: 200px;
}

.container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  &_padding {
    padding-bottom: 50px;
  }

  &_header {
    font-size: 40px;
    color: white;
    font-weight: 500;
    text-align: center;
  }

  &_secondary {
    font-size: 20px;
    color: white;
    font-weight: 500;
    text-align: center;
  }

  &_text {
    display: flex;
    height: fit-content;
  }

  &_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 30px;
  }

  &_buttons {
    display: flex;
    padding: 4px;
    background-color: #d9d9d9;
    border-radius: 8px;
    gap: 30px;
    justify-content: space-between;
    align-items: center;

    &_left {
      width: 30px;
      height: 30px;
      border-radius: 4px;
      background-color: #4c4949;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotate(180deg);
      cursor: pointer;
      transition: 300ms ease all;

      &:hover {
        transform: scale(1.05) rotate(180deg);
        background-color: #746c6c;
      }
      &:active {
        transform: scale(1.1) rotate(180deg);
      }
    }

    &_right {
      width: 30px;
      height: 30px;
      border-radius: 4px;
      background-color: #4c4949;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: 300ms ease all;

      &:hover {
        transform: scale(1.05);
        background-color: #746c6c;
      }
      &:active {
        transform: scale(1.1);
      }
    }
  }
}

.card {
  box-sizing: border-box;
  padding: 8px 10px 16px 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #d9d9d9;
  box-shadow: inset 0 3px 4px 0 rgba(0, 0, 0, 0.4);

  &_title {
    color: #0e0d0d;
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_time {
    cursor: pointer;
    width: 250px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    transition: 300ms ease all;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.modal {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 25px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  overflow-y: auto;

  @media (max-width: 700px) {
    font-size: 10px;
    padding: 10px;
  }

  &_title {
    font-size: 30px;
    color: black;
    font-weight: 500;

    @media (max-width: 700px) {
      font-size: 20px;
    }
  }

  &_input {
    margin-bottom: 20px;
    @media (max-width: 700px) {
      margin-bottom: 10px;
    }
  }
}

.custom_select {
  border-color: #9b9494 !important;
  * {
    border-color: #9b9494 !important;
  }
  &:hover {
    border-color: #4c4949 !important;
    * {
      border-color: #4c4949 !important;
    }
  }
}

.sent {
  background-color: #4c4949;
  border-color: #4c4949;
  border-radius: 8px;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 300ms ease all;

  &:hover {
    transform: scale(1.05);
    background-color: #4c4949 !important;

    * {
      background-color: #4c4949 !important;
    }
  }
}
