.root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}

.row {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  box-sizing: border-box;
  padding-bottom: 100px;

  &_contact {
    font-size: 60px;
    font-weight: 500;
    color: white;

    @media (max-width: 1000px) {
      font-size: 50px;
    }

    @media (max-width: 700px) {
      font-size: 35px;
    }
  }

  &_mail {
    font-size: 40px;
    font-weight: 400;
    color: white;

    @media (max-width: 1000px) {
      font-size: 30px;
    }

    @media (max-width: 700px) {
      font-size: 20px;
    }
  }

  &_social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;

    @media (max-width: 700px) {
      gap: 20px;
    }
  }

  &_link {
    font-size: 25px;
    color: #bcbcbc;
    text-decoration: none;
    font-weight: 300;
  }
}

.stroke {
  height: 150px;
  width: 110vw;
  background-color: white;
}
